@import "tailwindcss";

/* Import the font.css from the public directory */
@import url("/font/font.css");

body {
  font-family: var(--font-noto-sans-thai), sans-serif;
}

@keyframes backgroundFade {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

.animate-backgroundFade {
  background-size: 400% 400%;
  animation: backgroundFade 15s ease infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes gradientBackground {
  0%, 100% {
    background-position: left center;
  }
  50% {
    background-position: right center;
  }
}
.bg-animate {
  background-size: 200% 200%;
}
.animate-gradient {
  animation: gradientBackground 5s ease infinite;
}


.border-violet-500 {
  border: 2px solid #7c3aed;
}